*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-size: 62.5%;
}

body {
  /* Fonts */
  --font-display: 'Lato', sans-serif;
  --font-text: 'Lato', sans-serif;
  --font-size-base: 1.1rem;

  /* Colours */
  --color-primary: #1d3557;
  --color-secondary: #457b9d;
  --color-tertiary: #457b9d;
  --color-red: rgb(131, 38, 38);
  --color-background: #f3f8f9d9;

  --color-grey: rgb(91, 88, 88);
  --color-grey-light: rgba(176, 165, 165, 0.646);
  --color-black: rgba(0, 0, 0);
  --color-white: rgb(255, 255, 255);

  /* Shades */
  --color-primary-light: #1d35579a;
  --color-tertiary-light: rgba(129, 149, 148, 0.1);

  --box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.1);

  background-color: var(--color-background);

  font-family: var(--font-text);
  font-size: var(--font-size-base);

  /* Measurements */
  --border-radius-main: 0.75rem;
}

.grid {
  display: grid;
  grid-template-columns:
    minmax(10rem, 1fr)
    minmax(min-content, 100rem)
    minmax(10rem, 1fr);
}

.App {
  grid-template-rows: 13rem auto auto;
  grid-template-areas: '. title .' 'nav nav nav' '. app .';
  justify-content: center;
}

.logo {
  width: auto;
  height: 13rem;
}

.link {
  text-decoration: none;
  color: inherit;
}

.title-link {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  text-decoration: none;
}

.title__text {
  font-family: var(--font-display);
  font-size: 3rem;
  color: var(--color-secondary);
  text-transform: uppercase;
  letter-spacing: 1.25rem;
}

.mainButton {
  width: 100%;
  border: none;
  border-radius: var(--border-radius-main);
  padding: 1.1rem;
  border: 0.1rem solid var(--color-primary);
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s;
}

.mainButton:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.mainButton__text {
  font-size: 1.4rem;
  text-transform: uppercase;
}

nav {
  grid-area: nav;
  grid-template-rows: 6.5rem auto;
  align-content: center;

  grid-template-areas: 'nav nav nav' '. topics .';
}

.nav__bar {
  grid-area: nav;
  grid-template-areas: '. controls .';

  justify-content: space-between;
  align-items: center;

  background-color: var(--color-primary);
}

.nav__bar__controls {
  grid-area: controls;

  display: flex;
  justify-content: space-between;
}

.topics__container {
  display: flex;
  align-items: center;
}

.navButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 7.25rem;
  height: 3.25rem;
  border-radius: var(--border-radius-main);
  border: 0.1rem solid var(--color-white);
  overflow: hidden;
  transition: all 1s;
}

.navButton--active {
  width: 33rem;
}

.navButton__btn {
  height: 3.25rem;
  border: 0;
  background-color: var(--color-primary);
  outline: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-white);
  transition: all 1s;
}
.navButton__btn--topic {
  min-width: 7.25rem;
  max-width: 7.25rem;
}

.navButton__btn--active {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.navButton__btn:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.navButton__outline {
  height: 3.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.7rem;
  border: 0.1rem solid var(--color-white);
}

.nav__form {
  width: 0%;
  opacity: 0;
  transition: all 2s;
}

.nav__form--active {
  width: 100%;
  opacity: 1;
}

.nav__form__input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 0;
  outline: 0;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.nav__form__input::placeholder {
  color: var(--color-white);
}

.nav__form__input:focus::placeholder {
  color: transparent;
}

.nav__topiclist {
  margin-top: 2rem;
  grid-area: topics;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid var(--color-primary);
}

.nav__topic {
  font-size: 1.4rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-secondary);

  padding-right: 1rem;

  transition: color 1s;
}

.nav__topic:hover {
  color: var(--color-tertiary);
}

.user {
  display: flex;
  align-items: center;
}

.user__display {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-white);
  margin-right: 1.75rem;
}

.user__login-input {
  height: 3rem;
  width: 12rem;
  padding: 0.5rem;
  margin-right: 1rem;

  transition: width 1s;
}

.btn {
  height: 3rem;
  padding: 0.5rem 1rem;
  border-radius: var(--border-radius-main);
  background-color: var(--color-tertiary);
  outline: 0;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-white);
  transition: all 1s;
}

.btn:hover {
  background-color: var(--color-primary);
}

.btn__space-right {
  margin-right: 1rem;
}

.btn__space-left {
  margin-left: 1rem;
}

.content {
  grid-area: app;
}

main {
  display: grid;
  grid-template-columns: auto 30%;
  grid-template-rows: min-content auto;
  grid-template-areas: 'header header' 'main side';
  column-gap: 5rem;

  margin-top: 3rem;
}

.loadSpinner__container {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 5rem;
}

.loadSpinner {
  height: 6rem;
  width: 6rem;
  fill: var(--color-tertiary);
  animation: rotate 1.5s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal__bg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(41, 41, 41, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.modal__bg--show {
  visibility: visible;
  opacity: 1;
}

.modal__box {
  position: absolute;
  z-index: 500;
  background-color: white;
  width: 30rem;
  height: 10rem;
  border: 0.1rem solid rgb(37, 37, 37);
  border-radius: var(--border-radius-main);
  box-shadow: var(--box-shadow);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;

  transform: scale(0, 0);
  opacity: 0;
  transition: all 0.3s ease-out;
}

.modal__box--show {
  opacity: 1;
  transform: scale(1, 1);
}

.modal__title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.login__modal {
  position: relative;
  width: 40rem;
  height: 20rem;
}

.login__cancel__icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  fill: var(--color-tertiary);
  border: 0;
  height: 2.25rem;
  width: 2.25rem;
  transition: fill 1s;
}

.login__cancel__icon:hover {
  fill: var(--color-primary);
}

.login__title {
  font-size: 1.75rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 2rem;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__input {
  width: 30rem;
  height: 3rem;
  padding: 1rem;
  outline: 0;
  border: 0.15rem solid var(--color-primary);
  border-radius: var(--border-radius-main);
  margin-bottom: 2rem;
  background-color: var(--color-tertiary-light);
}

.box {
  border: 0.1rem solid var(--color-grey-light);
  border-radius: var(--border-radius-main);
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);
  overflow: hidden;
}

.articles__header {
  grid-area: header;
  justify-self: center;
  margin-top: 1rem;
  margin-bottom: 3.5rem;

  font-size: 2.5rem;
}

.articles__count {
  font-size: 1.4rem;
}

.articles {
  grid-area: main;
}

.articles-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  border: 0.2rem solid var(--color-primary);
  border-radius: var(--border-radius-main);
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.articles-sort__label {
  font-size: 1.4rem;
}

.articles-sort__select {
  background-color: var(--color-grey-light);
  height: 3rem;
  padding: 0.5rem;
  font-size: 1.4rem;
  color: var(--color-black);
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.articles-sort__controls {
  display: flex;
  align-items: center;
}

.articles__list {
  list-style: none;
  text-align: left;
}

.articles__card {
  --article-padding: 2rem;

  margin-bottom: 2rem;
  max-height: 25rem;
}

.articles__card__title {
  border-top: 0.75rem solid var(--color-primary);
  padding: 0.75rem var(--article-padding) 0.5rem var(--article-padding);
  padding-top: 1rem;
  margin-bottom: 0.25rem;
}

.articles__card__title > h3 {
  font-size: 1.6rem;
  color: var(--color-black);
}

.articles__card__body {
  position: relative;
  max-height: 12rem;
  padding-left: var(--article-padding);
  padding-right: var(--article-padding);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.articles__card__body::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(transparent 4rem, rgb(255, 255, 255));
}

.articles__card__body p {
  font-size: 1.4rem;
  line-height: 1.5;
}

.articles__card__info {
  display: flex;
  justify-content: space-between;
  padding: var(--article-padding);
  padding-bottom: 1rem;
  background-color: var(--color-tertiary-light);
  padding-top: 1rem;
}

.articles__card__author {
  font-size: 1.2rem;
}

.articles__card__stats {
  display: flex;
}

.articles__card__stat {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.articles__card__icon {
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
  fill: var(--color-tertiary);
}

.articles__link {
  text-decoration: none;
  color: inherit;
}

.article {
  --article-padding: 3rem;
  padding: var(--article-padding);
  text-align: left;
}

.article__title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.article__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.75rem solid var(--color-primary);
  background-color: var(--color-tertiary-light);
  height: 5rem;
  margin: calc(var(--article-padding) * -1);
  margin-bottom: 2rem;
  padding: 1rem var(--article-padding);

  font-size: 1.1rem;
}

.article__info > p {
  font-size: 1.5rem;
  color: var(--color-black);
}

.article__body {
  font-size: 1.4rem;
  line-height: 1.9rem;
  letter-spacing: 0.01rem;
}

.article__icon {
  height: 2rem;
  width: 2rem;
  fill: var(--color-tertiary);
  margin-right: 0.5rem;
}

.article__stats {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.article__stats p {
  font-size: 1.2rem;
}

.vote__block {
  display: flex;
  justify-content: space-evenly;
  width: 7rem;
}

.vote__btn {
  height: 1.75rem;
  width: 1.75rem;
  fill: var(--color-tertiary);
  cursor: pointer;
  transition: all 0.5s;
}

.vote__btn__down {
  position: relative;
  top: 0.25rem;
}

.vote__btn__down:hover {
  fill: var(--color-red);
}

.vote__btn__up {
  position: relative;
  top: -0.2rem;
}

.vote__btn__up:hover {
  fill: var(--color-primary);
}

.vote__btn__down--active {
  fill: var(--color-red);
}

.vote__btn__down--active:hover,
.vote__btn__up--active:hover {
  fill: var(--color-tertiary);
}

.vote__btn__up--active {
  fill: var(--color-primary);
}

.vote__txt {
  text-align: center;
  color: var(--color-black);
  font-size: 1.5rem;
  font-weight: 600;
  width: 2rem;
}

.commentList {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.1rem solid black;
}

.commentList__newComment__head {
  font-size: 1.3rem;
  font-weight: 600;
}

.commentList__form__input {
  display: block;
  border: 0.1rem solid rgb(37, 37, 37);
  border-radius: var(--border-radius-main);
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  height: 10rem;
  resize: vertical;
}

.commentList__list {
  margin-top: 1rem;
  padding-top: 1rem;
  text-align: left;
  list-style: none;
}

.commentList__card {
  margin: 2rem 0;
  overflow: hidden;
  padding-bottom: 1rem;
}

.comment__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-tertiary-light);
  border-radius: var(--border-radius-main);
  font-size: 1.1rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.75rem 1.5rem;
}

.comment__body {
  font-size: 1.3rem;
}

.comment__delete-btn {
  margin-top: 0.5rem;
}

h3 {
  margin-bottom: 0.5rem;
}

.new-article__input {
  display: block;
  border: 0.1rem solid rgb(37, 37, 37);
  border-radius: var(--border-radius-main);
  margin-bottom: 1rem;
  padding: 1rem;
  width: 100%;
  height: 4rem;
  font-family: var(--font-text);
  font-size: 1.5rem;
}

.new-article__textArea {
  display: block;
  border: 0.1rem solid rgb(37, 37, 37);
  border-radius: var(--border-radius-main);
  margin-top: 1rem;
  padding: 1rem;
  width: 100%;
  height: 18.9rem;
  font-family: var(--font-text);
  font-size: 1.5rem;
  resize: vertical;
}

.new-article__submitBtn {
  margin-top: 2rem;
  font-size: 1.4rem;
  float: right;
  width: 10rem;
  cursor: pointer;
}

.new-article__success {
  font-size: 1.3rem;
  text-align: center;
}

.new-article__success-btn {
  width: 8rem;
  height: 4rem;
  padding: 0;
  border: 0;
  border-radius: var(--border-radius-main);
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.sidepanel {
  grid-area: side;
}

.sidepanel__box {
  border: 0.1rem solid rgb(37, 37, 37);
  border-radius: var(--border-radius-main);
  overflow: hidden;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow);
  margin-bottom: 2rem;
}

.sidepanel__link {
  text-decoration: none;
}

.topicbox {
  margin: 1.5rem;
}

.box__header {
  height: 3.5rem;
  margin: -1.5rem;
  margin-bottom: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.25rem;
  padding-left: 1.5rem;
  background-color: var(--color-primary);
}

.box__header__text {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-white);
}

.box__desc {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid var(--color-secondary);
}

.top-articles {
  margin: 1.5rem;
}

.top-articles__header {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--color-tertiary);
  margin-bottom: 1rem;
}

.top-articles__list {
  overflow: hidden;
}

.top-articles__item {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-bottom: 0.75rem;
  border-bottom: 0.1rem dotted var(--color-secondary);
}

.newPostRules {
  list-style: none;
  list-style-position: inside;
  counter-reset: ruleCounter;
}

.newPostRules li {
  font-size: 1.4rem;
  counter-increment: ruleCounter;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem dotted var(--color-secondary);
}

.newPostRules li::marker {
  content: counter(ruleCounter) '.  ';
  color: var(--color-primary);
  font-weight: 600;
}
